html {
  font-size: 62.5%;
  background-color: white;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  height: 100%;
}

.no-flexbox main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 30rem;
}

.flexbox body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox main {
  -webkit-flex: 0 0 30rem;
      -ms-flex: 0 0 30rem;
          flex: 0 0 30rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.name {
  font-family: "Bitter", Arial, sans-serif;
  font-size: 8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.8;
  border-bottom: .1rem solid #eaeaea;
}

ul {
  list-style-type: none;
  margin: 3rem 0 0 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0 2rem 0 0;
}

li:last-of-type {
  margin-right: 0;
}

a {
  text-decoration: none;
}

svg {
  height: 4.5rem;
  width: 4.5rem;
  fill: #cccccc;
}
/* icons */
i {
  display: inline-block;
  font-style: normal;
  background-size: 100%;
  width: 4.5rem;
  height: 4.5rem;
  text-indent: -999rem;
  text-align: left;
}
.no-inlinesvg svg {
  display: none;
}
.inlinesvg i {
  display: none;
}
.no-inlinesvg .twitter {
  background: url("icons/icon-twitter.svg"); }
.no-inlinesvg .linkedin {
  background: url("icons/icon-linkedin.svg"); }
.no-inlinesvg .facebook {
  background: url("icons/icon-facebook.svg"); }
.no-svg .twitter {
  background: url("icons/icon-twitter-s.png");}
.no-svg .linkedin {
  background: url("icons/icon-linkedin-s.png"); }
.no-svg .facebook {
  background: url("icons/icon-facebook-s.png");}

@-webkit-keyframes linkedin {
  0% { fill: #ccc; }
  100% { fill: #256FBB; }
}

@keyframes linkedin {
  0% { fill: #ccc; }
  100% { fill: #256FBB; }
}

.linkedin-svg {
  -webkit-animation: linkedin 1.25s ease-in-out 1 forwards;
  animation: linkedin 1.25s ease-in-out 1 forwards;
}

@-webkit-keyframes twitter {
  100% { fill: #29AAE1; }
}

@keyframes twitter {
  100% { fill: #29AAE1; }
}

.twitter-svg {
  -webkit-animation: twitter 1s ease-in-out 1 forwards .25s;
  animation: twitter 1s ease-in-out 1 forwards .25s;
}

@-webkit-keyframes facebook {
  100% { fill: #293F7E; }
}

@keyframes facebook {
  100% { fill: #293F7E; }
}

.facebook-svg {
  -webkit-animation: facebook 1s ease-in-out 1 forwards .5s;
  animation: facebook 1s ease-in-out 1 forwards .5s;
}

@media only screen and (max-width: 375px) {
  main {
    width: 99%;
  }
}