html, body {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: 'Social';
    src: url('Socialico.ttf');
}

.container {
    position: relative;
    height: 100%;
}

.content {
    margin: auto;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
}

h2 {
    font-size: 2.5rem;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
}

.links a{
    font-family: 'Social';
    font-size: 3.0rem;
}

.links .link:not(:last-child) {
    padding-right: 1rem;
}
